@charset "UTF-8";
table{
	font-size:  30px;
	align-content: center;
}

.td1{/* class 선택 : 여러개 선택 */
	background: orange;
	align-content: center;
	width: 200px;
	height: 50px;
}
.btn-success{
	
}

#b:hover{
	font-size: 30px;
	width: 200px;
	height: 50px;
	background: red;
	color: white;
}
#b{
	font-size: 30px;
	widows: 200px;
	height: 50px;
	background: lime;
}

li:hover{/* 마우스를 올렸을 때 스타일 정의  (가상의 상황)*/
	list-style: none;
	background: lime;
	font-weight : bold;
	float: left;
	width: 100px;
	height: 30px;
	margin-right: 10px;
	padding-top: 15px;
	padding-left: 40px; 	
	border-radius: 30px 30px 30px 30px;
	border-style: double;
	border-color: white;
}

li{
	list-style: none;
	background: blue;
	float: left;
	width: 100px;
	height: 30px;
	margin-right: 10px;
	padding-top: 15px;
	padding-left: 40px; 	
	border-radius: 30px 30px 30px 30px;
	border-style: double;
	border-color: white;
}
a{/* 태그선택  */
	text-decoration: none;
	color:white;
}


